<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="courses" href="/courses">
      <ion-icon aria-hidden="true" name="beaker"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="certifications" href="/certifications">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="faq" href="/faq">
      <ion-icon aria-hidden="true" name="help-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
