<div class="welcome--container">
  <!--<ion-button class="user--icon" shape="round" color="light">
    <ion-icon slot="icon-only" name="person-circle" size="large" color="medium"></ion-icon>
  </ion-button>-->

  <div class="asproc--logo__container">
    <div class="asproc--logo"></div>
      <h4 style="color: black;">Tu App de bioinsumos agrícolas</h4>
  </div>

  <div class="welcome--footer">
    <div class="coop-logos--container">
      <ion-text color="medium"><h6>Con el apoyo de</h6></ion-text>
      <div>
        <div class="gef--logo"></div>
        <div class="ppd--logo"></div>
        <div class="pnud--logo"></div>
      </div>
    </div>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="11" size-md="10">
          <ion-button shape="round" expand="full" (click)="triggerClickEvent()" class="asproc--btn enter--btn">
            <ion-icon slot="start" name="enter-outline"></ion-icon>
            Ingresar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
