<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""  default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Alertas clímaticas</ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="10">
        <ion-searchbar mode="ios"  [debounce]="1000" (ionInput)="handleSearchInput($event)" placeholder="Buscar"></ion-searchbar>
      </ion-col>

      <ion-col *ngFor="let n of limitedSearchResult; let i = index" size="12" size-md="10">
        <ion-card color="light" mode="md">
          <img class="card--image" [alt]="n.title" [src]="n.imgPath"/>
          
          <ion-card-header>
            <ion-card-title class="card--title" color="dark">{{n.title}}</ion-card-title>
            <ion-card-subtitle>{{n.modifiedAt | date: 'dd \'de\' MMMM yyyy':'UTC':'es-ES'}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-text color="medium" [innerHTML]="getDisplayText(i)"></ion-text>
          </ion-card-content>

          <ion-grid style="padding-bottom: 10px;">
            <ion-row class="ion-justify-content-evenly ion-align-items-center">
              <ion-col size="4">
                <ion-button expand="full" size="default" shape="round" color="green-asproc" (click)="toggleShowMore(i)">
                  <ion-icon color="dark" slot="icon-only" [name]="!showMore[i] ? 'add-outline' : 'remove-outline'"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="full" size="default" shape="round" color="green-asproc" *ngIf="n.url" (click)="openInBrowser(n.url)">
                  <ion-icon color="dark" slot="icon-only" name="link-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="10" *ngIf="searchResult.length > sizeLimit && limitedSearchResult.length < searchResult.length">
        <ion-button shape="round" expand="full" class="asproc--btn" (click)="showMoreNews()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Más alertas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-alert
  [isOpen]="error"
  header="Error"
  message="Parece que ocurrio un error, por favor intenté más tarde."
  [buttons]="errorBtns"
  (didDismiss)="setError(false)"
></ion-alert>

